<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>


<div class="container">

  <div class="row heading">
    <div class="col-md-12">
      <h1>#Explore</h1>
      <h3>Looking to explore this site?</h3>
      <h4>Sign up for an account or use the information below to explore.</h4>
    </div>
  </div>

  <div class="row" id="dummy">
    <div class="col-md-6">
      <h4>Dummy Credit Card Info</h4>
      <p>Used to Upgrade Standard Account</p>
      <ul>
        <li>Card Number: 4242 4242 4242 4242</li>
        <li>Fill in the other information with any numbers</li>
      </ul>
      <br>
    </div>
    <div class="col-md-6">
      <h4>Dummy  Accounts</h4>
      <p>Premium User</p>
      <ul>
        <li>Email: premium@example.com</li>
        <li>Password: password</li>
      </ul>
      <p>Standard User</p>
      <ul>
        <li>Email: standard@example.com</li>
        <li>Password: password</li>
      </ul>
      <p>Admin User</p>
      <ul>
        <li>Email: admin@exampls.com</li>
        <li>Password: password</li>
      </ul>
    </div>
  </div>
</div>
