<div class="container main-content" id="header">
  <div class="row center-block">
    <h1 class="text-center">Travelpedia: Social, Markdown Wikis</h1>
    <div class="text-center signup-content">
      <h2>Create and share</h2>
      <br>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary btn-lg' %>
    </div>
  </div>
</div>
<div class="container btn-group btn-group-sm" role="group" id="accounts">
  <div class="col-md-6 text-center free-plan">
    <div class="accounts-block">
      <h3>Standard Plan</h3>
      <h4>Free</h4>
      <ul>
        <li>Unlimited Public Wikis</li>
        <li>Create Public Wikis</li>
        <li>Edit Public Wikis</li>
        <li>Collaborative Public Wikis</li>
      </ul>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary btn-lg' %>
    </div>
  </div>
  <div class="col-md-6 text-center paid-plan">
    <div class="accounts-block">
      <h3>Premium Plan</h3>
      <h4>$10<span class="per-month"> /month</span></h4>
      <ul>
        <li>Unlimited Private Wikis</li>
        <li>Create Private Wikis</li>
        <li>Edit Private Wikis</li>
        <li>Add & Remove Collaborators</li>
      </ul>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary btn-lg' %>
    </div>
  </div>
</div>
