<div class="container main-content">
  <div class="center-block">
    <h1 class="text-center">Blocipedia: Social, Markdown Wikis</h1>
    <br>
    <br>
    <br>
    <div class="text-center signup-content">
      <p>Create and share markdown wikis</p>
      <br>
      <!-- <=% link_to "Sign Up", :class => 'btn btn-signup' %> -->
    </div>
  </div>
</div>
<div class="float-left free-plan">
  <p>Create as many public </p>
  <p>wikis with the free plan!</p>
  <br>
  <!-- <%= link_to "Free Plan", :class => 'btn btn-free' %> -->
</div>
<div class="float-right paid-plan">
  <p>Create as many private </p>
  <p>wikis with the premium plan!</p>
  <br>
  <!-- <%= link_to "Premium Plan", :class => 'btn btn-premium' %> -->
</div>
