<h1>New Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>Remember this is a public wiki.</li>
      <li>Make sure it has clear meaning.</li>
      <li>Don't use any special unknown characters.</li>
    </ul>
  </div>

  <div class="col-md-8">
    <%= render partial: 'form', locals: {wiki: @wiki} %>
  </div>
</div>
